h1 {
    font-family: 'Coda Caption', sans-serif;
    font-size: 50px;
    font-stretch: extra-expanded;
    outline: black;
    outline-offset: 2px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.black{
    color:black;
}