h1, h3, h5, h6 {
    color: #5DDADB;
}

.shadow{
    text-shadow: 4px 4px rgb(48, 46, 46);
}
.bl{
    color: white;
    text-shadow: 2px 2px rgb(48, 46, 46);
}

.jumbo {
    font-size: 200px;
}

.black-bg {
    background-color: #000000;
}

.shrink {
    height: 100%;
    width: 100%;
}

.dimensions {
    height: auto;
    width: 60%;
}

.image-holder {
    width: 350px;
}

.image-size{
    width: 60%;
    object-fit: contain;
}