h1, h3, h5, h6 {
    color: #5DDADB;
}

.jumbo {
    font-size: 200px;
}

.black-bg {
    background-color: #000000;
}

.shrink {
    height: 100%;
    width: 100%;
}

.dimensions {
    height: auto;
    width: 60%;
}

.image {
    width: 100%;
    object-fit: contain;
}

.image-holder {
    width: 350px;
}