h3, h5, h6 {
    color: #5DDADB;
}

p {
    color: white;
}

.black-bg {
    background-color: #000000;
}

.background-image {
    background-image: url('../images/vials.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}